<div class="table-responsive">
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <input type="text" class="form-control w-25" placeholder="Recherche" [(ngModel)]="search" (input)="filterCandidatures()">
        <button class="btn btn-success" (click)="gotoAddCandidature()">Ajouter candidature</button>
    </div>
    <table class="table align-middle text-nowrap" >
        <thead>
            <tr>
                <th class="text-dark font-medium fs-4">cv</th>
                <th class="text-dark font-medium fs-4">diplome</th>
                <th class="text-dark font-medium fs-4">etat</th>
                <th class="text-dark font-medium fs-4">dateCandidature</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let candidature of candidatures'>
                
                <!--<td >{{candidature.cv}}</td>
                <td >{{candidature.diplome}}</td>-->
                <td >{{candidature.etat}}</td>
                <td >{{candidature.dateCandidature| date: 'mediumDate'}}</td>
                <td>
                    <button class="btn btn-danger me-2" (click)="deleteCandidature(1)">Supprimer</button>
                    <button class="btn btn-primary" (click)="updateCandidature(1)">Modifier</button>
                </td>
            </tr>              
        </tbody>
    </table>
</div>