<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de candidature</title>
</head>
<body>
    <h2>Nouvelle candidature</h2>
    <form action="submit_candidature.php" method="post">
        <label for="user">user:</label><br>
        <input type="text" id="user" name="user"><br>
        
        <label for="offer">offer:</label><br>
        <textarea id="offer" name="offer"></textarea><br>
        
        <label for="CV">CV:</label><br>
        <input type="text" id="CV" name="CV"><br>
        
        <label for="diplome">Diplome:</label><br>
        <input type="text" id="diplome" name="diplome"><br>
        
        <label for="etat">etat:</label><br>
        <input type="text" id="etat" name="etat"><br>
        
        <label for="dateCandidature">date candidature:</label><br>
        <input type="text" id="dateCandidature" name="dateCandidature"><br>
        
        <input type="submit" value="Soumettre" >
       
    </form>
</body>
</html>
